:root {
	--ease: cubic-bezier(0.31,-0.12, 0.49, 1);
	--lineWeight: 4px;
	--bgOpacity: 0.5;

	--feelerSize: 25px;
	--animTime: 2s;

	--color: 255, 255, 255;
	user-select: none;
}

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body, html {
	width: 100vw;
	height: 100vh;
	background-color: white;
	box-sizing: border-box;
}

img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.border {
	border: var(--lineWeight) solid rgb(var(--color));
}

.feeler {
	background-color: rgba(var(--color), var(--bgOpacity));
	box-sizing: border-box;
	width: var(--feelerSize);
	height: var(--feelerSize);

	mix-blend-mode: multiply;
}

.anim {
	transition: var(--ease) var(--animTime) all;
}

#mainButton {
	width: 50px;
	height: 50px;

	background-color: #e55;
	box-shadow: #0004 0 0 3px 1px;

	overflow: hidden;
}

#mainButton > img {
	width: 27px;
	height: 27px;
}

#data {
	color: white;
	font-size: 0.5em;
	text-align: center;

	white-space: nowrap;
	font-family: monospace;
}

canvas {
	/* margin-left: var(--lineWeight);
	margin-top: var(--lineWeight); */
	width: calc(100vw - 2 * var(--lineWeight));
	height: calc(100vh - 2 * var(--lineWeight));
}
