
:root {
	--bg: 255,255,255;
	--fg: 0,0,0;
	--green: #040;
	--red: #400;
	--accent: 191,28,255;
	--accentSeeThrough: 0.6;
}

body, html {
	margin: 0;
	padding: 0;
	background: rgba(var(--bg),1);
}

html {
	filter: invert(0.05);
	min-height: 100vh;
	min-width: 100vw;
}

#bannerImage {
	width: 100vw;
	height: 50vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#content {
	margin-top: 5vh;
	margin-bottom: 13vh;
	margin-left: calc(max(20px, calc(100vw - 600px)) / 2);
	width: min(600px, calc(100vw - 20px));
	line-height: 1.6em;
}

a {
	text-decoration: underline;
}

* {
	list-style: none;
	/* font-family: monospace; */
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(var(--fg),1);
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(var(--fg), var(--accentSeeThrough));
	text-shadow: 0.3px -0.3px rgb(var(--accent));
	line-height: 1em;
	margin-top: 2em;
	margin-bottom: 0.2em; 
	padding-bottom: 0.2em;
	border-bottom: 1px solid rgba(var(--accent), calc(var(--accentSeeThrough) * 0.8));
}

.spacer {
	height: 15px;
	width: 100%;
}

.block > .spacer {
	height: 3px;
}

m {
	font-family: monospace;
	background-color: rgba(var(--fg),0.1);
	border-radius: 3px;
	display: inline-block;
	padding: 2px;
	margin: 1px;
}
.block {
	padding: 5px;
	margin: 3px;
}

li:before {
	font-family: monospace;
	content: '•';
	padding-left:  .2em;
	padding-right: .2em;
	margin: 0 .5em;
}
li {
	margin-left: 2em;
	margin-top: .8em;
	text-indent: -1.8em;
}

.unchecked:before, .checked:before, .important:before, .question:before {
	background-color: rgba(var(--fg),0.1);
	border-radius: 3px;
}

/* Checklist */
.unchecked:before { content: '\00a0'; }
.checked:before   { content: '×'; }
.important:before { content: '!'; }
.question:before  { content: '?'; }

/* Added / Removed */
.added          { color: var(--green); }
.added:before   { content: '+'; }
.removed        { color: var(--red); }
.removed:before { content: '-'; }

/* Dark Mode Button */
.darkModeButton {
	transition: all .1s;
	width: 50px;
	height: 50px;
	background-color: rgba(var(--bg),1);
	border-radius: 50%;
	box-shadow: 0px 3px 10px -1px rgba(var(--fg),0.4);
	position: fixed;
	overflow: hidden;
	top: 100%;
	left: 100%;
	transform: translate(calc(-100% - 25px), calc(-100% - 20px));
}
  
.darkModeButton::after {
	transition: all .1s;
	background-color: rgba(var(--bg),1);
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	box-shadow: 9px 9px 0px 0px rgba(var(--fg),0.7), 9px 9px 2px 0px rgba(var(--fg),0);
}

.darkModeButton:hover {
	transform: translate(calc(-100% - 25px), calc(-100% - 22px));
	box-shadow: 0px 5px 10px -1px rgba(var(--fg),0.4);
}

.darkModeButton:active {
	transform: translate(calc(-100% - 25px), calc(-100% - 18px));
	box-shadow: 0px 3px 10px -1px rgba(var(--fg),0.2);
}

.darkModeButton:hover::after {
	top: 2px;
	box-shadow: 9px 9px 0px 0px rgba(var(--fg),0.9), 9px 10px 2px 0px rgba(var(--fg),0.3);
}

.darkModeButton:active::after {
	top: 5px;
	box-shadow: 9px 9px 0px 0px rgba(var(--fg),0.6), 9px 9px 0px 0px #0000;
}
