
* {
  color: white;
  font-family: monospace;
}

body {
  background-color: #202024;
}

p {
  margin-bottom: -12px;
  line-height: 130%;
}

h1 {
  line-height: 0;
  padding: 0;
  margin: 0;
}

.i {
  margin-left: 2ch;
}

#grid {
  width: 100%;
  display: grid;
  padding-top: 20vh;
  justify-content: center;
}

.center {
  padding: 12px;
  padding-top: 0;
  display: inline-block;
}
