
:root {
	--accent-color: #00923c;
}

* {
	user-select: none;
	transition: all .2s ease-in-out;
}

body, html {
	overscroll-behavior: none;
	overflow: visible;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(./assets/soil-bg-final.png);
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	border: 20px solid transparent;
}

#title {
	margin-top: 10px;
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#title > h1 {
	color: #ffffff;
	text-align: left;
	font: 900 43.47px "Inter-Black", sans-serif;
	margin: 0;
}

#title > img {
	width: 100%;
	filter: drop-shadow(0px 1.29px 2px rgba(0, 0, 0, 0.5));
}

.input {
	width: 100%;
	position: relative;
	margin-bottom: 70px;
}

.input > h2 {
	color: #eeeeee;
	font: 900 1.5em "Inter-Black", sans-serif;
	margin: 0;
	padding: 0;
}

.input > input {
	-webkit-appearance: none;
	-webkit-transition: .2s;
	width: 100%;
	height: 40px;
	border-radius: 50px;
	background: #eeeeee;
	margin: 5px 0 5px 0;
	outline: none;
	box-shadow: 0 0 0 5px #eeeeee;
	position: absolute;
}

.slider > input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	background: var(--accent-color);
	cursor: pointer;
	border-radius: 50px;
}

.slider > input::-moz-range-thumb {
	width: 40px;
	height: 40px;
	background: var(--accent-color);
	cursor: pointer;
	border-radius: 50px;
}

.slider > div {
	pointer-events: none;
	position: absolute;
	z-index: 999;
	width: 100%;
	margin-top: 7px;
	height: 40px;
	text-align: center;
	font-size: 2em;
	font: 900 30px "Inter-Black", sans-serif;
	color: white;
	mix-blend-mode: difference;
}

.num-input > input {
	outline: none;
	border: none;
	padding: 5px 12px 5px 12px;
	box-sizing: border-box;
	font-size: 2em;
	font: 900 30px "Inter-Black", sans-serif;
}

.num-input > input::placeholder {
	color: #0002;
}

#output > div {
	padding-top: 20px;
	text-align: center;
	height: 65px;
}

#output > div > a:first-child {
	color: #eeeeee;
	padding-top: 20px;
	width: 100%;
	font: 900 3em "Inter-Black", sans-serif;
	text-align: center;
}

#output > div > a:last-child {
	color: #eeeeee;
	padding-top: 20px;
	width: 100%;
	font: 900 2em "Inter-Black", sans-serif;
	text-align: center;
}
