
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

#container {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 1fr 60px;
}

#areas {
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
}

.style {
	border: none;
	outline: none;
	box-shadow: 0 2.5px 5px 1px #0002;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

textarea {
	width: 100%;
	height: calc(100% - 16px);
	resize: none;
}
